networks:
  dgraph-net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24

services:
  zero1:
    container_name: zero1
    image: dgraph/dgraph:latest
    hostname: zero1
    # volumes:
    #   - data-volume:/dgraph
    ports:
      - 5080:5080
      - 6080:6080
    networks:
      dgraph-net:
        ipv4_address: 10.0.0.10
    command: dgraph zero --my=zero1:5080 --replicas 3 --raft="idx=1"
    healthcheck:
      test: ["CMD-SHELL", "echo > /dev/tcp/localhost/5080"]
  zero2:
    container_name: zero2
    image: dgraph/dgraph:latest
    hostname: zero2
    # volumes:
    #   - data-volume:/dgraph
    ports:
      - 5081:5081
      - 6081:6081
    networks:
      dgraph-net:
        ipv4_address: 10.0.0.15
    command: dgraph zero -o 1 --my=zero2:5081 --replicas 3 --peer zero1:5080 --raft="idx=2"
    healthcheck:
      test: ["CMD-SHELL", "echo > /dev/tcp/localhost/5081"]
  zero3:
    container_name: zero3
    image: dgraph/dgraph:latest
    hostname: zero3
    # volumes:
    #   - data-volume:/dgraph
    ports:
      - 5082:5082
      - 6082:6082
    networks:
      dgraph-net:
        ipv4_address: 10.0.0.20
    command: dgraph zero -o 2 --my=zero3:5082 --replicas 3 --peer zero1:5080 --raft="idx=3"
  alpha:
    container_name: alpha
    image: dgraph/dgraph:latest
    hostname: "alpha"
    # volumes:
    #   - /tmp/data:/dgraph
    networks:
      dgraph-net:
        ipv4_address: 10.0.0.25
    ports:
      - 8080:8080
      - 9080:9080
    command: dgraph alpha --my=alpha:7080 --zero=zero1:5080,zero2:5081,zero3:5082 --security whitelist=10.0.0.0/8,172.0.0.0/8,192.168.0.0/16,127.0.0.1 -o 0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 1s
      timeout: 10s
      retries: 20
      start_period: 3s
    depends_on:
      - zero1
      - zero2
      - zero3

  alpha1:
    container_name: alpha1
    image: dgraph/dgraph:latest
    hostname: "alpha1"
    networks:
      dgraph-net:
        ipv4_address: 10.0.0.30
    # volumes:
    #   - /tmp/data:/dgraph
    ports:
      - 8081:8081
      - 9081:9081
    command: dgraph alpha --my=alpha1:7081 --zero=zero1:5080,zero2:5081,zero3:5082 --security whitelist=10.0.0.0/8,172.0.0.0/8,192.168.0.0/16,127.0.0.1 -o 1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/health"]
      interval: 1s
      timeout: 10s
      retries: 20
      start_period: 3s
    depends_on:
      - zero1
      - zero2
      - zero3

  alpha2:
    container_name: alpha2
    image: dgraph/dgraph:latest
    hostname: "alpha2"
    networks:
      dgraph-net:
        ipv4_address: 10.0.0.35
    # volumes:
    #   - /tmp/data:/dgraph
    ports:
      - 8082:8082
      - 9082:9082
    command: dgraph alpha --my=alpha2:7082 --zero=zero1:5080,zero2:5081,zero3:5082 --security whitelist=10.0.0.0/8,172.0.0.0/8,192.168.0.0/16,127.0.0.1 -o 2
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/health"]
      interval: 1s
      timeout: 10s
      retries: 20
      start_period: 3s
    depends_on:
      - zero1
      - zero2
      - zero3

  workload:
    container_name: workload
    image: dgraph-workload-test:latest
    hostname: workload
    environment:
      ANTITHESIS_SDK_LOCAL_OUTPUT: /root/sdk.json
    networks: 
      dgraph-net:
        ipv4_address: 10.0.0.40
    depends_on:
      alpha:
        condition: service_healthy
      alpha1:
        condition: service_healthy
      alpha2:
        condition: service_healthy
    working_dir: /app
    command: >
      sh -c "python entrypoint.py"